@charset "utf-8";

@font-face{
    font-family: 'Source Sans Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSansVariable-Roman.otf.woff2') format('woff2'),
         url('fonts/SourceSansVariable-Roman.otf.woff') format('woff'),
         url('fonts/SourceSansVariable-Roman.otf') format('opentype');
}

@font-face{
    font-family: 'Source Sans Variable';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/SourceSansVariable-Italic.otf.woff2') format('woff2'),
         url('fonts/SourceSansVariable-Italic.otf.woff') format('woff'),
         url('fonts/SourceSansVariable-Italic.otf') format('opentype');
}

html {
    font-family: 'Source Sans Variable';
}

h1 {
    font-size: 26px;
}

p {
    font-size: 20px;
}

.light {
    font-weight: 200;
}

.normal {
    font-weight: 400;
}

.italic {
    font-style: italic;
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}