@charset "utf-8";

@font-face{
    font-family: 'Comfortaa';
    font-style: normal;
    font-display: swap;
    src: url('fonts/Comfortaa-Light.woff2') format('woff2'),
         url('fonts/Comfortaa-Light.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Variable';
    font-weight: 300 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/SourceSansVariable-Roman.woff2') format('woff2-variations'),
         url('fonts/SourceSansVariable-Roman.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Variable';
    font-weight: 300 900;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('fonts/SourceSansVariable-Italic.woff2') format('woff2-variations'),
         url('fonts/SourceSansVariable-Italic.woff') format('woff');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Variable', Helvetica, Arial, Noto Sans, sans-serif;
}

h1 {
    font-family: 'Comfortaa';
    font-size: 34px;
    font-weight: 300;
    text-align: center;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.italic {
    font-style: italic;
    font-weight: 400;
}

@supports (font-variation-settings: 'ital' 1) {
    .italic {
        font-variation-settings: 'ital' 1;
        font-weight: 400;
    }
}

.semibold {
    font-weight: 600;
}